<html>
<head>
  <link rel="stylesheet" href="{{url_for('static', filename='main.css')}}">
  <link href="https://fonts.googleapis.com/css?family=Acme|K2D" rel="stylesheet">
  <link rel='icon' href="{{url_for('static', filename='logo.png')}}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<link href="https://fonts.googleapis.com/css?family=Merriweather:400,900,900i" rel="stylesheet">
</head>
<body>
  <button id="back-to-top-btn"><i class="fa fa-angle-double-up"></i></button>
  <div class="sticky">
    <h1>Mango Store 🥭</h1>
  </div>
  <div class="nav">
    <p><a href="/">Home</a> > <a href="">Edit Profile</a></p>
  </div>
  <h2>Edit Profile</h2>
  Signed in as {{name}} -> {{type}} Account
  <form action="" method="POST" onsubmit="return validateForm()">
  <table>
    <tr>
      <td>EMAIL :</td><td>{{email}}</td>
    </tr>
    <tr>
      <td>เบอร์โทรศัพท์ :</td><td><input type="tel" name="phone" value="{{phone}}" id="phone"></td>
    </tr>
    <tr>
      <td><b>ที่อยู่ :</b></td>
    </tr>
    <tr>
      <td>LANDMARK/AREA :</td><td><input type="text" name="area" value="{{area}}" class="address"></td>
    </tr>
    <tr>
      <td>LOCALITY :</td><td><input type="text" name="locality" value="{{locality}}" class="address"></td>
    </tr>
    <tr>
      <td>เมือง :</td><td><input type="text" name="city" value="{{city}}" class="place"></td>
    </tr>
    <tr>
      <td>ตำบล :</td><td><input type="text" name="state" value="{{state}}" class="place"></td>
    </tr>
    <tr>
      <td>ประเทศ :</td><td><input type="text" name="country" value="{{country}}" class="place"></td>
    </tr>
    <tr>
      <td>รหัสไปรษณีย์ :</td><td><input type="text" name="zip" value="{{zip}}" id="zip"></td>
    </tr>
  </table>
  <input type="submit" value="Save Changes" style="display:block; margin-left:auto; margin-right:auto; margin-top:1vw;">
</form>

   <!--Chat Bubble-->
   <div class="powr-chat" id="96348727_1621088301"></div><script src="https://www.powr.io/powr.js?platform=html"></script>

<script type="text/javascript" src="{{url_for('static', filename='main.js')}}"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>

</body>
</html>
