<html>
<head>
  <link rel="stylesheet" href="{{url_for('static', filename='main.css')}}">
  <link href="https://fonts.googleapis.com/css?family=Acme|K2D" rel="stylesheet">
  <link rel='icon' href="{{url_for('static', filename='logo.png')}}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://fonts.googleapis.com/css?family=Merriweather:400,900,900i" rel="stylesheet">
</head>
<body>
  <button id="back-to-top-btn"><i class="fa fa-angle-double-up"></i></button>
  <div class="sticky">
    <h1>Mango Store 🥭</h1>
  </div>
  <div class="nav">
      <p><a href="/">Home</a> > <a href="/buy">ซื้อ</a> > <a href="">ตะกร้าของฉัน</a></p>
  </div>
  <h2>ตะกร้าของฉัน</h2>
  {% if cart|length==0 %}
  <p>ไม่มีสินค้าในตะกร้า <a href="/buy">คลิกที่นี่เพื่อเลือกชมสินค้า</a></p>
  {% else %}
  <form action="" method="POST">
    <table>
      <tr>
        <th>SNO.</th><th>สินค้า</th><th>ราคา (ต่อชิ้น)</th><th>จำนวน</th><th></th>
      </tr>
    {% set cnt={'val':1} %}
    {% for item in cart %}
    <tr>
      <td>{{cnt['val']}}</td><td><a href="/viewproduct/{{item[0]}}">{{item[1]}}</a></td><td>บาท {{item[2]}}</td>
      <td><input name="qty{{item[0]}}" type="number" value="{{item[3]}}" min="1" max="{{item[4]}}" required></td>
      <td><p class="press"><a href="/buy/cart/delete/{{item[0]}}">REMOVE FROM CART</p></td>
    </tr>
    {%if cnt.update({'val':(cnt['val']+1)}) %}{% endif %}
    {% endfor %}
  </table>
  <p class="press"><a href="/buy/cart/delete">EMPTY CART</a></p>
  <input type="submit" value="PROCEED TO ORDER" style="display:block; margin-left:auto; margin-right:auto; margin-top:1vw;">
  {% endif %}
  </form>

     <!--Chat Bubble-->
   <div class="powr-chat" id="96348727_1621088301"></div><script src="https://www.powr.io/powr.js?platform=html"></script>

  <script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>

</body>
</html>
